body {
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;

  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid black;
}

.logo-icon,
.logo-icol {
  width: 60px;
  height: 60px;
  animation: zoom-roll 4s infinite;
  transform-origin: center;
}
.logo2 {
  width: 60px;
  margin-left: 10px;
  height: 60px;
  animation: zoom-roll 4s linear infinite;
  transform-origin: center;
}

.icon {
  animation: zoom-roll 4s infinite;
  transform-origin: center;
}
@keyframes zoom-roll {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  50% {
    transform: rotate(60deg) scale(1.5);
  }
  100% {
    transform: rotate(180deg) scale(1);
  }
}

.hamburger {
  cursor: pointer;
  display: inline-block;
}

.hamburger div {
  width: 20px;
  display: block;
  height: 2px;
  background: black;
  margin: 5px 0;
}
img {
  margin-top: 25px;
  margin-left: 70px;
}
.hire-me {
  border: 1px solid black;
  width: 30%;
  font-size: 20px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: #fff;
}

.skills-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  padding: 10px 20px;
  background-color: #fff;
}
.skills-header {
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-right: 10px;
}

.icon {
  display: inline-flex;

  margin-left: 15px;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.list1 {
  border: 1px solid black;
  background-color: black;
  color: #fff;
  padding: 8px;
  border-radius: 20px;
}
.list2 {
  border: 1px solid black;
  background-color: black;
  color: #fff;
  padding: 8px;
  border-radius: 20px;
}
.list3 {
  border: 1px solid black;
  background-color: black;
  color: #fff;
  padding: 8px;
  border-radius: 20px;
}
.list4 {
  border: 1px solid black;
  background-color: black;
  color: #fff;
  padding: 8px;
  border-radius: 20px;
}
.title {
  font-weight: bold;
  font-size: 24px;
}
.skills-content {
  display: flex;
  gap: 20px;
  align-items: center;
  animation: slide 3s infinite alternate;
}
.skill {
  font-size: 10px;
  white-space: nowrap;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}
.recent-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.recent {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}
.recent1 {
  margin-left: 10px;
}
.load-more {
  border: 1px solid black;
  background-color: black;
  width: 20%;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  margin-top: 30px;
}

@media (max-width: 576px) {
  .logo-icon {
    width: 60px;
    animation: zoom-roll 7s infinite;
    transform-origin: center;
    margin-bottom: 5px;
  }
  #skills-content1 {
    display: none;
  }

  .moon-icon {
    margin-left: 100px;
    margin-top: 10px;
  }
  .hamburger {
    margin-top: 25px;
  }
  .rand {
    display: none;
  }
  .logo2 {
    margin-left: 140px;
    margin-top: -30px;
  }
  img {
    width: 60%;
  }
  .mabel h1 {
    font-size: 40px;
    width: 60%;
    margin-top: 10px;
    font-family: Roboto Bold, Lato;
  }
  .mabel p {
    font-size: 15px;
  }
  .mabel {
    margin-left: 10px;
  }
  body::before {
    content: "FRONTEND DEVELOPER";
    position: absolute;
    top: 10%;
    left: 3%;
    transform: translate(-50% -50%);
    font-size: 65px;
    font-weight: 500;
    color: gray;
    opacity: 0.08;
    z-index: -1;
    font-family: Roboto bold, Lato;
  }
  .img2 img {
    width: 70%;
    margin-left: 50px;
  }
  .img2 {
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }

  .img3 {
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .img4 {
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .img5 {
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .img6 {
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .img7 {
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .over-all h1 {
    font-size: 23px;
    margin-left: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .over-all p {
    font-size: 15px;
    margin-left: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .load-more {
    margin-left: 120px;
    white-space: nowrap;
  }
  .reach-header {
    margin-top: 20px;
  }

  .logo-icol {
    margin-left: 160px;
    margin-top: 30px;
  }

  .footer {
    border: 1px solid black;
    margin-top: 15px;
    border-left: none;
    border-right: none;
  }
  #name {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    font-size: 15px;
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  #Email {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    width: 90%;
    font-size: 15px;
  }
  #Message {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 90px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    width: 90%;
    font-size: 15px;
  }

  h4 {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-weight: 200;
    display: flex;
    justify-content: center;
  }

  h5 {
    display: flex;
    justify-content: center;
    color: grey;
  }
}

@media (min-width: 577px) and (max-width: 830px) {
  .moon-icon,
  .hamburger {
    display: none;
  }
  #skills-content2 {
    display: none;
  }

  .rand {
    display: flex;
    gap: 50px;
  }
  .rand .till {
    border: 1px solid black;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
  }
  body {
    border: 1px solid black;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: none;
  }

  .images {
    display: flex;
    flex-direction: row-reverse;
  }
  img {
    width: 30%;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .mabel {
    width: 60%;
    font-size: 15px;
    margin-left: 50px;
    padding-right: 30px;
    border-right: 1px solid black;
  }
  .mabel h2 {
    white-space: nowrap;
  }

  .logo2 {
    display: none;
  }
  .icon {
    margin-right: 10px;
  }
  .over-all {
    width: 90%;
    margin-left: 40px;
  }
  .img2 img {
    margin-left: 15px;
  }

  .img4 img {
    margin-left: 15px;
  }

  .img5 img {
    margin-left: 20px;
  }
  .img6 img {
    margin-left: 15px;
  }
  .img7 img {
    margin-left: 15px;
  }

  .img2 {
    border: 1px solid black;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .imgl {
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    margin-top: -250px;
  }

  .img3 img {
    margin-left: 15px;
  }
  .imgt {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: -240px;
    font-size: 15px;
  }

  .img3 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .img4 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .img5 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .img6 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .img7 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .list {
    display: flex;
    gap: 10px;
  }
  .load-more {
    margin-left: 270px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer {
    border: 1px solid grey;
  }
  .rece {
    border-left: 1px solid black;
    margin-left: 350px;
    margin-top: -260px;
  }

  .logo-icol {
    margin-top: 200px;
    margin-left: 130px;
  }

  #name {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    font-size: 15px;
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  #Email {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    width: 90%;
    font-size: 15px;
  }
  #Message {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 90px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    width: 90%;
    font-size: 15px;
  }
  h4 {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-weight: 200;
    display: flex;
    justify-content: center;
  }

  h5 {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

@media (min-width: 831px) and (max-width: 1053px) {
  .moon-icon,
  .hamburger {
    display: none;
  }
  #skills-content2 {
    display: none;
  }

  .rand {
    display: flex;
    gap: 150px;
  }
  .rand .till {
    border: 1px solid black;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
  }
  body {
    border: 1px solid black;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: none;
  }

  .images {
    display: flex;
    flex-direction: row-reverse;
  }
  img {
    width: 30%;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .mabel {
    width: 60%;
    font-size: 15px;
    margin-left: 50px;
    padding-right: 30px;
    border-right: 1px solid black;
    line-height: 40px;
  }
  .mabel h2 {
    white-space: nowrap;
    padding: 3px;
  }

  .logo2 {
    display: none;
  }
  .icon {
    margin-right: 10px;
  }
  .over-all {
    width: 90%;
    margin-left: 50px;
  }
  .img2 img {
    margin-left: 15px;
  }

  .img4 img {
    margin-left: 15px;
  }

  .img5 img {
    margin-left: 20px;
  }
  .img6 img {
    margin-left: 15px;
  }
  .img7 img {
    margin-left: 15px;
  }

  .img2 {
    border: 1px solid black;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .imgl {
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    margin-top: -250px;
  }

  .img3 img {
    margin-left: 15px;
  }
  .imgt {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: -240px;
    font-size: 15px;
  }

  .img3 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .img4 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .img5 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .img6 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .img7 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .list {
    display: flex;
    gap: 10px;
  }
  .load-more {
    margin-left: 270px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer {
    border: 1px solid gray;
  }
  .rece {
    border-left: 1px solid black;
    margin-left: 440px;
    margin-top: -260px;
  }

  .logo-icol {
    margin-top: 200px;
    margin-left: 130px;
  }

  #name {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    font-size: 15px;
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  #Email {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    width: 90%;
    font-size: 15px;
  }
  #Message {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 90px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    width: 90%;
    font-size: 15px;
  }
  h4 {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-weight: 200;
    display: flex;
    justify-content: center;
  }

  h5 {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1054px) and (max-width: 1300px) {
  .moon-icon,
  .hamburger {
    display: none;
  }
  .rand {
    display: flex;
    gap: 150px;
    font-size: 20px;
  }

  .rand .till {
    border: 1px solid black;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #skills-content2 {
    display: none;
  }
  .skills-container {
    font-size: 20px;
  }

  body {
    border: 1px solid black;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: none;
  }

  .images {
    display: flex;
    flex-direction: row-reverse;
  }
  img {
    width: 30%;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .mabel {
    width: 60%;
    font-size: 25px;
    margin-left: 50px;
    padding-right: 30px;
    border-right: 1px solid black;
    line-height: 50px;
  }
  .mabel h2 {
    white-space: nowrap;
    padding: 3px;
  }

  .logo2 {
    display: none;
  }
  .icon {
    margin-right: 10px;
  }
  .over-all {
    width: 90%;
    margin-left: 60px;
  }
  .img2 img {
    margin-left: 15px;
  }

  .img4 img {
    margin-left: 15px;
  }

  .img5 img {
    margin-left: 20px;
  }
  .img6 img {
    margin-left: 15px;
  }
  .img7 img {
    margin-left: 15px;
  }

  .img2 {
    border: 1px solid black;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .imgl {
    display: flex;
    flex-direction: column;
    margin-left: 360px;
    margin-top: -250px;
  }

  .img3 img {
    margin-left: 15px;
  }
  .imgt {
    display: flex;
    flex-direction: column;
    margin-left: 360px;
    margin-top: -240px;
    font-size: 15px;
  }

  .img3 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .img4 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .img5 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .img6 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .img7 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .list {
    display: flex;
    gap: 10px;
  }
  .load-more {
    margin-left: 450px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer {
    border: 1px solid grey;
  }
  .rece {
    border-left: 1px solid black;
    margin-left: 590px;
    margin-top: -260px;
  }

  .logo-icol {
    margin-top: 200px;
    margin-left: 190px;
  }

  #name {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    font-size: 15px;
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  #Email {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    width: 90%;
    font-size: 15px;
  }
  #Message {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 90px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    width: 90%;
    font-size: 15px;
  }
  h4 {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-weight: 200;
    display: flex;
    justify-content: center;
  }

  h5 {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1301px) {
  .moon-icon,
  .hamburger {
    display: none;
  }
  .rand {
    display: flex;
    gap: 240px;
    font-size: 25px;
  }
  .rand .till {
    border: 1px solid black;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #skills-content2 {
    display: none;
  }
  .skills-container {
    font-size: 20px;
  }

  body {
    border: 1px solid black;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: none;
  }

  .images {
    display: flex;
    flex-direction: row-reverse;
  }
  img {
    width: 35%;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .mabel {
    width: 60%;
    font-size: 20px;
    padding-left: 20px;
    border-right: 1px solid black;
    line-height: 50px;
  }
  .mabel h2 {
    white-space: nowrap;
    padding: 3px;
  }

  .logo2 {
    display: none;
  }
  .icon {
    margin-right: 10px;
  }
  .over-all {
    width: 90%;
    margin-left: 70px;
  }
  .img2 img {
    margin-left: 15px;
  }

  .img4 img {
    margin-left: 15px;
  }

  .img5 img {
    margin-left: 20px;
  }
  .img6 img {
    margin-left: 15px;
  }
  .img7 img {
    margin-left: 15px;
  }

  .img2 {
    border: 1px solid black;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .imgl {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-top: -300px;
  }

  .img3 img {
    margin-left: 15px;
  }
  .imgt {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-top: -300px;
    font-size: 15px;
  }

  .img3 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 90px;
  }

  .img4 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 70px;
  }
  .img5 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 90px;
  }

  .img6 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 90px;
  }
  .img7 {
    border: 1px solid black;
    margin-top: 30px;
    padding-bottom: 90px;
  }

  .list {
    display: flex;
    gap: 10px;
  }
  .load-more {
    margin-left: 500px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  .rece {
    border-left: 1px solid black;
    margin-left: 700px;
    margin-top: -260px;
  }

  .logo-icol {
    margin-top: 200px;
    margin-left: 190px;
  }

  #name {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    font-size: 15px;
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  #Email {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    width: 90%;
    font-size: 15px;
  }
  #Message {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 90px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
    color: grey;
    border-radius: 6px;
    width: 90%;
    font-size: 15px;
  }
  h4 {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-weight: 200;
    display: flex;
    justify-content: center;
  }

  h5 {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
